<div class="banner">
  <div class="container d-flex justify-content-between">
    <a class="btn btn-flat" href="#">Vos coustumes</a>
    <a class="btn btn-flat" href="#">Tous les costumes</a>
  </div>
</div>
