<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Page d'acceuil</h1>
    <p>Trouvez moi à la racine</p>
    <a class="btn btn-flat" href="#">Viens :)</a>
  </div>
</div>
